body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    margin-bottom: 20px;
    max-width: 600px; 
    border: 8px solid rgb(177,156,217); 
    border-radius: 10px; 
    position: relative; 
}


.score-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255,221,244); 
    padding: 20px;
    border: 4px solid rgb(255,179,222);
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
}

.score-window h2 {
    margin-top: 0;
}

.score-window p {
    margin: 0;
}

.score-window button {
    margin-top: 10px;   
    background-color: rgb(255,179,222); 
    border: 2px solid rgb(255,105,180);
    border-radius: 5px; 
}

#controls {
    margin-top: -10px; 
}

.arrow-btn {
    color: black; 
    background-color: rgb(230, 230, 250); 
    border: 2px solid rgb(177, 156, 217); 
    border-radius: 5px; 
    width: 30px; 
    height: 30px; 
    font-size: 20px; 
    cursor: pointer; 
}

.game-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    max-width: 100%; 
}

.left-side-content, .right-side-content {
    max-width: 50%; 
}

.right-side-content {
    position: static; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-wrapper {
    background-color: rgb(230, 230, 250); 
    border: 4px solid rgb(177, 156, 217);
    border-radius: 5px; 
    padding: 5px;
    margin: 0;
    text-align: center;
}

.leaderboard-wrapper p {
    margin: 0; 
}

.leaderboard-wrapper h2 {
    margin: 0;
}

.sharpay-image {
    max-width: 200px; 
    margin-top: 0px; 
}

.regina-image {
    max-width: 200px; 
    margin-top: 50%; 
}
